STRINGTABLE
BEGIN
  0, "unexpected end of file"
  1, "invalid character"
  2, "invalid character after '#'"
  3, "unknown #! named constant %1"
  4, "unexpected token %1"
  5, "string with no closing quote"
  6, "missing closing parenthesis"
  7, "invalid number %1"
  8, "invalid AFII glyph identifier %1"
  9, "call of non-function object %1"
  10, "too many arguments for function"
  11, "odd number of keyword/value arguments"
  12, "missing argument for function call"
  13, "syntactic keyword %1 used as variable"
  14, "reference to undefined variable %1"
  15, "no character with name %1"
  16, "syntactic keyword %1 not valid in call position"
  17, "symbol required (got %1)"
  18, "unknown top level form %1"
  19, "bad form %1 in mode group"
  20, "identifier %1 already defined in same part"
  21, "first definition was here"
  22, "loop in specification of value of %1"
  23, "argument out of range"
  24, "loop in specification of value of unit %1"
  25, "bad value specified for unit %1"
  26, "unit %1 already defined in same part"
  27, "first definition was here"
  28, "quantity %1 undefined"
  29, "incompatible dimensions"
  30, "%2 argument for primitive %1 of wrong type: %3 not a boolean"
  31, "%2 argument for primitive %1 of wrong type: %3 not a pair"
  32, "%2 argument for primitive %1 of wrong type: %3 not a list"
  33, "%2 argument for primitive %1 of wrong type: %3 not a symbol"
  34, "%2 argument for primitive %1 of wrong type: %3 not a string"
  35, "%2 argument for primitive %1 of wrong type: %3 not a string or symbol"
  36, "%2 argument for primitive %1 of wrong type: %3 neither a string not a symbol"
  37, "%2 argument for primitive %1 of wrong type: %3 not a char"
  38, "%2 argument for primitive %1 of wrong type: %3 not an ISO8601 time string"
  39, "%2 argument for primitive %1 of wrong type: %3 not a style"
  40, "%2 argument for primitive %1 of wrong type: %3 not an exact integer"
  41, "%2 argument for primitive %1 of wrong type: %3 not a quantity"
  42, "%2 argument for primitive %1 of wrong type: %3 not a color-space"
  43, "%2 argument for primitive %1 of wrong type: %3 not a number"
  44, "%2 argument for primitive %1 of wrong type: %3 not a sosofo"
  45, "%2 argument for primitive %1 of wrong type: %3 not an optional singleton node list"
  46, "%2 argument for primitive %1 of wrong type: %3 not a singleton node list"
  47, "%2 argument for primitive %1 of wrong type: %3 not a node list"
  48, "%2 argument for primitive %1 of wrong type: %3 not a named node list"
  49, "%2 argument for primitive %1 of wrong type: %3 not a length or length-spec"
  50, "%2 argument for primitive %1 of wrong type: %3 not a quantity or length-spec"
  51, "%2 argument for primitive %1 of wrong type: %3 not an integer or the symbol ""force"""
  52, "%2 argument for primitive %1 of wrong type: %3 not a valid element matching pattern"
  53, "%2 argument for primitive %1 of wrong type: %3 not an address"
  54, "%2 argument for primitive %1 of wrong type: %3 not a glyph-id"
  55, "%2 argument for primitive %1 of wrong type: %3 not a glyph-subst-table"
  56, "%2 argument for primitive %1 of wrong type: %3 not a list of pairs of glyph-ids"
  57, "%2 argument for primitive %1 of wrong type: %3 not a procedure"
  58, "%2 argument for primitive %1 of wrong type: %3 not a vector"
  59, "root rule already defined in same part with same importance"
  60, "first definition was here"
  61, "initial value already declared for characteristic %1 in same part"
  62, "first declaration was here"
  63, "%1 is not a valid keyword in a style expression"
  64, "%1 is not a valid keyword in a make expression for flow object class %2"
  65, "%1 is not the name of any flow object class"
  66, "content expression cannot be specified in make expression for atomic flow object class %1"
  67, "value for ""label:"" not a symbol"
  68, "no port for label %1"
  69, "invalid content map"
  70, "content map references non-existent port %1"
  71, "invalid value for %1 characteristic"
  72, "no clause in cond expression matched"
  73, "no clause in case expression matched %1"
  74, "expected ""else"" not %1"
  75, "sorry, cannot handle unresolvable quantities in datums in case expression"
  76, "%1"
  77, "division by zero"
  78, "procedure does not have %1 keyword argument"
  79, "argument not a keyword"
  80, "support for more than one style-specification-body not yet implemented"
  81, "specification document does not have the DSSSL architecture as a base architecture"
  82, "specification document did not contain a style-specification-body element"
  83, "unknown character name %1"
  84, "attempt to use current node when there is none"
  85, "attempt to process node in illegal context"
  86, "radix must be 2, 8, 10 or 16"
  87, "this context requires a sosofo"
  88, "this context requires a style object"
  89, "procedure can only be used in evaluation of characteristic value"
  90, "sorry, %1 expression not implemented"
  91, "%1 color requires three arguments"
  92, "arguments for %1 color must be numbers"
  93, "arguments for %1 color must be in the range 0 to 1"
  94, "result of procedure in %1 color must be a number"
  95, "unknown color-space family %1"
  96, "%1 color-space family does not take any arguments"
  97, "invalid parameters for %1 color-space family"
  98, "%1 is not a pre-defined inherited characteristic"
  99, "invalid number format %1"
  100, "invalid character %1 in public identifier"
  101, "debug %1"
  102, "circular use of specification parts"
  103, "no style-specification or external-specification with ID %1"
  104, "document did not contain any style-specifications or external-specifications"
  105, "table-cell flow object not inside a table"
  106, "table-row flow object not inside a table"
  107, "no value for node property %1"
  108, "value returned by procedure was not a node-list"
  109, "called from here"
  110, "called from here...(%1 calls omitted)"
  111, "node processing loop detected"
  112, "unquote-splicing expression does not evaluate to a list"
  113, "object is read-only"
  114, "assignment to top-level variable %1"
  115, "invalid call to continuation"
  116, "empty generic identifier in pattern"
  117, "pattern is not a list"
  118, "%1 cannot be used as a generic identifier in a pattern"
  119, "%1 cannot occur in a pattern"
  120, "value missing for qualifier in pattern"
  121, "unknown pattern qualifier %1"
  122, "bad value %1 for %2 qualifier in pattern"
  123, "repeat qualifier not allowed inside children qualifier"
  124, "bad value for attributes qualifier in pattern"
  125, "characteristic %1 applied in style rule with same specificity"
  126, "other style rule is here"
  127, "node matches more than one pattern with the same specificity"
  128, "reference to uninitialized variable %1"
  129, "circular use of actual value of characteristic %1"
  130, "characteristic %1 already defined in same part"
  131, "first definition was here"
  132, "flow object class %1 already defined in same part"
  133, "first definition was here"
  134, "mode %1 not defined"
  135, "duplicate character name %1"
  136, "duplicate SDATA entity name %1"
  137, "duplicate SDATA entity text %1"
  138, "unsupported declaration will be ignored"
  139, "unsupported character repertoire %1 will be ignored"
  140, "error in declaration element"
  141, "duplicate declaration element (%1)"
  142, "%1 is not a valid identifier"
  143, "error in language definition"
  144, "no current language"
  145, "%2 argument for primitive %1 of wrong type: %3 not a language"
  146, "%2 argument for primitive %1 of wrong type: %3 not a po"
  147, "%2 argument for primitive %1 of wrong type: %3 not an integer"
  148, "%2 argument for primitive %1 of wrong type: %3 not a keyword"
  149, "%2 argument for primitive %1 of wrong type: %3 not an alist"
  150, "%2 argument for primitive %1 of wrong type: %3 not a list of characters"
  151, "%2 argument for primitive %1 has wrong length"
  152, "quantity %1 can't be represented exactly"
  153, "default language already declared in this part"
  154, "first declaration was here"
  155, "%1 not a language as required in a default-language-declaration"
  156, "%1 is not a valid unit name"
  157, "%1 is not a valid character name"
  158, "%1 is not a valid character number"
  159, "unknown character property %1"
  160, "error in character property declaration"
  161, "duplicate definition for character property %1"
  162, "first definition was here"
  163, "duplicate character property declaration %1 for character %2"
  164, "value returned by procedure was not a sosofo"
  165, "variable expressions for character property values currently not supported"
END
